[user]
	name = Jason Erdmann
	email = jason.erdmann@tradingtechnologies.com
[push]
	default = simple
[alias]
    glog = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    br = branch
    co = checkout
    cm = commit
    st = status
    up = !git pull && git submodule init && git submodule update && git remote prune origin
