[user]
    name = Jason Erdmann
    email = jerdmann83@gmail.com
[alias]
    br = branch
    co = checkout
    cp = cherry-pick
    st = status
    sm = submodule update --init 
[push]
    default = current
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
[gc]
    auto = 0
[merge]
    tool = vimdiff
